.header {
  min-height: 75px;
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(229, 229, 229, 0.7);
}
@media screen and (max-width: 890px) {
  .header {
    min-height: 57px;
    width: 86%;
  }
}