.popup__name {
  display: block;
  width: 358px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  color: #000;
  margin: 21px auto 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.popup__name:focus {
  box-shadow: 0px 0px 2px 3px rgba(31, 116, 182, 0.2);
}
@media screen and (max-width: 500px) {
  .popup__name {
    width: 238px;
  }
}